.filter__wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: .5rem;
    border-radius: 5px;
    gap: 1rem;
    div{
        display: flex;
        justify-content: center;
        align-items: center;
        &:first-child{
            .inputGroup{
                flex-grow: 1;
                width: 250px;
                height: 35px;
                border-radius: 5px;
                position: relative;
                input{
                    width: 100%;
                    height: 100%;
                    background-color: transparent;
                    border: 2px solid #7C8363;
                    border-radius: 5px;
                    padding-left: 0.5rem;
                    color: #EDF4F2;
                }
                label{
                    position: absolute;
                    font-size: 16px;
                    background-color: #31473A;
                    border-radius: 5px;
                    color: #7C8363;
                    font-weight: 700;
                    padding-left: 2px;
                    padding-right: 2px;
                    top: -2px;
                    left: .5rem;
                    transform: translateY(-50%);
                }
            }
        }
        &:last-child{
            display: flex;
            gap: 0.5rem;
            select{
                width: 100px;
                height: 35px;
                background-color: transparent;
                border: 1px solid #7C8363;
                border-radius: 5px;
                color: #EDF4F2;

            }
        }
    }
}